<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5 img-thumbnail" src="assets/img/Perfil2.jpg" alt="..." />
        <h1 class="masthead-heading text-uppercase mb-0">David Mondragón Hernández</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading font-weight-light mb-0">Ingeniería en Software</p>
    </div>
</header>
<app-about></app-about>
<app-contacts></app-contacts>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Universidad Politécnica de Tecámac - 2018 - 2021</small></div>
</div>
