<section class="page-section bg-primary text-white mb-0" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Contacto</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center b">
            <div class="col-lg-8 col-xl-7 bg">
                <form>
                    <div class="card-body">
                        <input class="form-control" id="inputName" type="text" placeholder="Nombre" />                        
                    </div>
                    <div class="card-body">
                        <input class="form-control" id="inputEmail" type="email" placeholder="Correo electrónico" />                        
                    </div>
                    <div class="card-body">
                        <input class="form-control" id="inputPhone" type="tel" placeholder="Teléfono" />                        
                    </div>
                    <div class="card-body">
                        <textarea class="form-control" id="inputMessage" placeholder="Mensaje" style="height: 12rem"></textarea>                        
                    </div>
                    <br />
                    <button class="btn btn-primary btn-xl" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
