<section class="page-section " id="about">
  <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-black-50">Acerca de mi</h2>
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <div class="row">
          <div class="col-lg-4 ms-auto"><p class="lead">Actualmente estoy cursando la carrera de ingeniería en software en la Universidad Politécnica de Tecámac, al término de mi carrera pienso desarrollar mis habilidades como desarrollador fron-end para crear sitios web únicos.</p></div>
          <div class="col-lg-4 me-auto"><p class="lead">El aspirar a ser un desarrollador front-end me motiva para que en el futuro consiga mis objetivos en base a lo que más me gusta desarrollar. Actualmente, cuento con los conocimientos básicos para desarrollar sitios web, como bootstrap (CSS y JS) y HTML5.</p></div>
      </div>      
  </div>
</section>